﻿@model IEnumerable<Bunge.Salada.ViewModels.ContactSubjectViewModel>
@{
    ViewBag.Title = "Fale conosco | Salada";
    ViewBag.Description = "Utilize esta página para entrar em contato conosco. Salada - Seara.";
    ViewBag.Keywords = "";
    ViewBag.BodyClass = "contato";
}
<header class="interna transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>Contato</h2>
                <p>
                    A sua opinião é importante para Salada. Sempre que sentir
                    necessidade utilize este espaço para expressá-la. Agradecemos
                    a sua contribuição e interesse pelos nossos produtos.
                </p>
                <p>
                    Campos com * são obrigatórios
                </p>
            </div>
        </div>
    </div>
</header>
<section class="formulario">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1">
                <form class="form" id="form-contato" action="#" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nome">Seu Nome*</label>
                        <input type="text" id="nome" name="Name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Seu E-mail*</label>
                        <input type="email" id="email" name="Email" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="telefone">Telefone*</label>
                                <input type="tel" id="telefone" name="Phone" class="form-control tel" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="celular">Celular*</label>
                                <input type="tel" id="celular" name="Celular" class="form-control tel" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nascimento">Data de nascimento*</label>
                                <input type="tel" id="nascimento" name="BirthDate" class="form-control data" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label-block">Sexo*</label>
                                <div class="campo-select">
                                    <select name="Gender" id="sexo" class="form-control" required>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estado">Estado*</label>
                                <div class="campo-select">
                                    <select name="State" id="estado" class="form-control" required>
                                        <option value="">UF</option>
                                        <option value="1">Acre</option>
                                        <option value="2">Alagoas</option>
                                        <option value="3">Amapá</option>
                                        <option value="4">Amazonas</option>
                                        <option value="5">Bahia</option>
                                        <option value="6">Ceará</option>
                                        <option value="7">Distrito Federal</option>
                                        <option value="8">Espírito Santo</option>
                                        <option value="9">Goiás</option>
                                        <option value="10">Maranhão</option>
                                        <option value="11">Mato Grosso</option>
                                        <option value="12">Mato Grosso do Sul</option>
                                        <option value="13">Minas Gerais</option>
                                        <option value="16">Paraná</option>
                                        <option value="15">Paraíba</option>
                                        <option value="14">Pará</option>
                                        <option value="17">Pernambuco</option>
                                        <option value="18">Piauí</option>
                                        <option value="20">Rio Grande do Norte</option>
                                        <option value="21">Rio Grande do Sul</option>
                                        <option value="19">Rio de Janeiro</option>
                                        <option value="22">Rondônia</option>
                                        <option value="23">Roraima</option>
                                        <option value="24">Santa Catarina</option>
                                        <option value="26">Sergipe</option>
                                        <option value="25">São Paulo</option>
                                        <option value="27">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="cidade">Cidade*</label>
                                <div class="campo-select">
                                    <select name="City" id="cidade" class="form-control" required>
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="assunto">Assunto*</label>
                        <div class="campo-select">
                            <select name="ContactSubject" id="assunto" class="form-control" required>
                                <option value="">Selecione</option>
                                @foreach(var s in Model)
                                {
                                    <option value="@s.Id">@s.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Mensagem*</label>
                        <textarea name="Message" id="mensagem" rows="5" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input id="newsletter" type="checkbox" name="ReceiveEmail" value="on">
                            <label for="newsletter">
                                CONCORDO EM RECEBER FUTURAS INFORMAÇÕES POR E-MAIL.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input id="newsletter" type="checkbox" name="Privacy" value="on" required>
                            <label for="newsletter">
                                SIM, LI E ACEITO A <a href="https://www.seara.com.br/media/download/Politica-de-Privacidade-Site-Seara.pdf" target="_blank">POLÍTICA DE PRIVACIDADE E O AVISO DE PRIVACIDADE</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha_guia">
                            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                            <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["newRecaptchaKey"]"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-verde">Enviar</button>
                </form>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1">
                <div class='sac_phones'>
                    @*<div class='sac_phones-phone'>0800-7275544</div>*@
                    <div class='sac_phones-whatsapp'>(11) 91035-4902 </div>
                    @*<div class='sac_phones-call'>Ligação Gratuita</div>*@
                    <div class='sac_phones-info'>Segunda à sexta-feira, das 9 às 18 horas - Horário de Brasília</div>
                </div>
            </div>
        </div>
    </div>
</section>


@section footer{
    @if (ViewBag.ResultClass != null)
    {
        <div id="contato-feedback" class="contato-feedback" style="display:none;">
            @if (ViewBag.ResultClass == "sucesso")
            {
                <span class="titulo">Mensagem enviada com sucesso!</span>
                <p>Agora é só esperar e responderemos o mais breve possível. Obrigado :)</p>
                <a class="btn btn-verde" href="#close" rel="modal:close">OK, Entendi</a>
            }
            else
            {
                <span class="titulo">Ops...</span>
                <p>
                    Parece que alguma coisa deu errada e sua mensagem não foi enviada :(
                    <br />
                    Erro: @ViewBag.Callback
                    <br />
                    Tente novamente mais tarde.
                </p>
                <a class="btn btn-verde" href="#close" rel="modal:close">OK, Entendi</a>
            }

        </div>
        <script>
            $(function () {
                $('#contato-feedback').modal();
            });
        </script>
    }

    <script src='https://www.google.com/recaptcha/api.js'></script>
}