@using Bunge.Primor._2014.Models
@{
    var page = "";
    var url = "";
    string adress = HttpContext.Current.Request.Url.ToString();
    string[] splitted = adress.Split('/');
    url = splitted[3].ToLower();
    if ((url == "") || (url == "home"))
    {
        page = "home";
    }
    else if (url == "produtos")
    {
        page = "produtos";
    }
    else if (url == "produto")
    {
        page = "produto";
    }
    else if (url == "receitas")
    {
        page = "receitas";
    }
    else if (url == "receita")
    {
        page = "receitas";
    }
    else if (url == "marca")
    {
        page = "marca";
    }
    else if (url == "fale-conosco")
    {
        page = "contato";
    }
    else if (url == "lp")
    {
        page = "lp";
    }

}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="pt-br">
 <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="~/content/assets/images/favicon.ico" />
    <link rel="shortcut icon" sizes="32x32" href="~/content/assets/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/content/assets/images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/assets/images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/assets/images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/assets/images/touch-icon-ipad-retina.png" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta id="ogtitle" property="og:title" content="@ViewBag.Title" />
    <meta id="ogtype" property="og:type" content="food" />
    <meta id="ogimage" property="og:image" content='@(!string.IsNullOrEmpty(ViewBag.OgImage) ? ViewBag.OgImage : "http://primor.com.br/images/site-primor.png")' />
    <meta id="ogdescription" property="og:description" content="@ViewBag.Description" />
    <script src="https://use.typekit.net/xae8opy.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <link rel="stylesheet" href="~/content/assets/styles/style.min.css?v2" />
    <script src="~/content/assets/scripts/vendor/modal.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Xandr Universal Pixel - Initialization (include only once per page) -->
    <script>!function (e, i) { if (!e.pixie) { var n = e.pixie = function (e, i, a) { n.actionQueue.push({ action: e, actionValue: i, params: a }) }; n.actionQueue = []; var a = i.createElement("script"); a.async = !0, a.src = "//acdn.adnxs.com/dmp/up/pixie.js"; var t = i.getElementsByTagName("head")[0]; t.insertBefore(a, t.firstChild) } }(window, document); pixie('init', '7ded82ba-efa9-442d-b973-1237f536655d');</script> <!-- Xandr Universal Pixel - PageView Event -->
    <script>pixie('event', 'PageView');</script>
    <noscript><img src="https://ib.adnxs.com/pixie?pi=7ded82ba-efa9-442d-b973-1237f536655d&e=PageView&script=0" width="1" height="1" style="display:none" /></noscript>
</head>
<body class="@page">

    <div id="header-container">
        <header class="container">
            <div class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="~/content/assets/images/logo.png" alt="Logomarca de Primor" />
                    </a>
                </div>
                <div id="navbar">
                    <div class="pull-right-sm">
                        <ul class="nav navbar-nav navbar-collapse collapse">
                            <li><a class='@(page == "produtos" || page == "produto" ? "active" : "")' href="~/produtos">Produtos</a></li>
                            <li><a class='@(page == "receitas" ? "active" : "")' href="@Url.Action("Index", "receitas")">Receitas</a></li>
                            <li><a class='@(page == "marca" ? "active" : "")' href="@Url.Action("Index", "marca")">A Marca</a></li>
                            <li><a class='@(page == "contato" ? "active" : "")' href="@Url.Action("Index", "contato")">Fale Conosco</a></li>
                        </ul>
                        <div id="form-search">
                            <input id="check" type="checkbox">
                            <form class="form" action="/receitas" method="get">
                                <div class="form-group">
                                    <input id="s" class="form-control" name="busca" type="text" required>
                                </div>
                                <button class="btn btn-submit btn-default" type="submit">Buscar</button>
                            </form>
                        </div>
                        <label for="check" class="btn btn-navbar btn-search">
                            <span class="icon icon-search"></span>
                        </label>
                        <a href="https://www.facebook.com/PrimorAlimentos" target="_blank" class="btn btn-navbar btn-facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <main>
        @RenderBody()
        <aside id="about-container" data-bgset="/content/assets/images/bg-about-xs.jpg 0, /content/assets/images/bg-about.jpg 768px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <article class="about-us">
                            <header class="header">
                                <h1 class="title t1">Nossa <span>Marca</span></h1>
                                <p>A história de Primor é como a sua: <span>cheia de momentos deliciosos.</span></p>
                            </header>
                            <strong>Conheça nossa história.</strong>
                            <div class="about-image">
                                <img data-src="/content/assets/images/logo-footer.png" data-load="scroll">
                            </div>
                            <a href="@Url.Action("Index", "marca")" class="btn btn-default">Conheça</a>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        @{
                            if (page == "home" || page == "receitas")
                            {
                                <article class="our-aside">
                                    <header class="header">
                                        <h1 class="title t1">Primor para profissionais <span>de Cozinha</span></h1>
                                        <p>Conheça os produtos <span>para profissionais</span></p>
                                    </header>
                                    <div class="about-image">
                                        <img data-src="/content/assets/images/products/img-pote-3kg.png?v2" data-load="scroll">
                                        <span class="shadow"></span>
                                    </div>
                                    @*<a href="http://www.bungeprofissional.com.br/Produtos?marca=5" target="_blank" class="btn btn-default">Ver agora</a>*@
                                </article>
                            }
                            else
                            {
                                <article class="our-aside">
                                    <header class="header">
                                        <h1 class="title t1">Receitas <span>Primorosas</span></h1>
                                        <p>Quer dar um gostinho especial ao seu dia? <span>Experimente uma de nossas receitas primorosas.</span></p>
                                    </header>
                                    <div class="recipes">
                                        <div class="carousel carousel-recipes-xs">
                                            @foreach (var item in (IList<RecipeSearchResultViewModel>)ViewBag.Recipes)
                                            {
                                                <div class="slide">
                                                    <a href="~/receita/@item.FriendlyUrlName" class="recipe xs">
                                                        <article>
                                                            <h2 class="title t2"><span>@item.Title</span></h2>
                                                            <picture class="recipe-image">
                                                                <img data-src="../../ImageResize.ashx?Img=@item.ImageThumb&w=145&h=145" class="img-responsive" data-load="scroll">
                                                                <span class="icon icon-plus"></span>
                                                            </picture>
                                                        </article>
                                                        <span class="shadow"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </aside>
    </main>
    <div id="footer-container" data-bgset="/content/assets/images/bg-footer-xs.jpg 0, /content/assets/images/bg-footer.jpg 992px">
        <footer class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div id="casa-consumidor">
                        <img src="~/content/assets/images/logo-contato.png" alt="Contato" width="184" height="52">
                        <p>Seg/Sex.- 8 às 20h - Horário de Brasília</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a id="bunge" href="https://seara.com.br/" target="_blank">
                        <img src="~/content/assets/images/logo-seara.png" width="103" height="25">
                        <p>Clique e conheça nossas outras marcas</p>
                    </a>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="share">
                        Acompanhe nossas redes

                        <div class='primor_social_links'>
                            <a class='primor_social_links-item facebook' href='https://www.facebook.com/PrimorAlimentos/ ' target='_blank' title='Facebook'></a>
                            <a class='primor_social_links-item instagram' href='https://www.instagram.com/primor/' target='_blank' title='Instagram'></a>
                            <a class='primor_social_links-item mail' href='http://primor.com.br/fale-conosco' title='Contato'></a>
                        </div>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c03bf8eacdb51f" defer></script>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="share" id="copyright">
                        <a href="https://www.seara.com.br/media/download/Politica-de-Privacidade-Site-Seara.pdf" target="_blank">Política de Privacidade</a>
                    </div>
                    <div id="copyright">
                        <p>&reg; SEARA - @DateTime.Now.Year Todos os direitos reservados</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="outdated"></div>
    <!--[if gte IE 9]><!-->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <![endif]-->
    <script>window.jQuery || document.write('<script src="content/assets/scripts/vendor/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="~/content/assets/scripts/plugins.min.js?v2"></script>
    <script src="~/content/assets/scripts/main.min.js?v5"></script>

    <script>
        (function (f, i, r, e, s, h, l) {
            i['GoogleAnalyticsObject'] = s; f[s] = f[s] || function () {
                (f[s].q = f[s].q || []).push(arguments)
            }, f[s].l = 1 * new Date(); h = i.createElement(r),
            l = i.getElementsByTagName(r)[0]; h.async = 1; h.src = e; l.parentNode.insertBefore(h, l)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-22100293-1', 'primor.com.br');
        ga('send', 'pageview');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139449445-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-139449445-1');
    </script>

    <!-- Início do aviso de consentimento de cookies OneTrustprimor.com.br -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="162bcb66-057a-4415-a542-10db18000182"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- Final do aviso de consentimento de cookies OneTrustprimor.com.br -->

    <!-- 12/04/2021 -->
    <!-- Global site tag (gtag.js) - Google Ads: 407651101 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-407651101"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-407651101');
    </script>
    <!-- Event snippet for Visualização de página conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-407651101/0UBQCK7QhoACEJ2GscIB'});
    </script>

    <!-- 12/04/2021 -->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '738377033545811');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=738377033545811&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    @RenderSection("footer", required: false)
</body>
</html>
