﻿@model Bunge.Salada.ViewModels.RecipeViewModel
@{
    ViewBag.Title = @Model.Title + " | Receitas | Salada";
    ViewBag.Description = @Model.Resume;
    ViewBag.Keywords = "";
    ViewBag.BodyClass = "receita-interna";
}
<header class="interna">
    <div class="container">
        <div class="col-md-5 col-md-offset-1">
            <h2>Receitas</h2>
            <div class="receita-titulo">
                <h3>@Model.Title</h3>
                <p>
                    com @Model.RecommendedProductName
                </p>
            </div>
            <ol class="modos">
                <li>
                    <i class="icon icon-porcoes"></i>
                    <span>
                        @Model.QtdYield porções
                    </span>
                </li>
                <li>
                    <i class="icon icon-dificuldade"></i>
                    
                        @switch(Model.RecipeLevel)
                        {
                            case 0:
                                <span>Fácil</span>
                                break;
                            case 1:
                                <span>Médio</span>
                                break;
                            case 2:
                                <span>Difícil</span>
                                break;
                            default:
                                break;
                        }

                </li>
                <li>
                    <i class="icon icon-tempo"></i>
                    @Model.QtdPreparationTime minutos
                </li>
                <li>
                    <i class="icon icon-momento"></i>                    
                    @for(int i = 0; i < Model.Moments.Count(); i++)
                    {
                        <span>@Model.Moments.ElementAt(i).Content @if(i != Model.Moments.Count() - 1) {<strong> | </strong>}</span>
                    }
                </li>
            </ol>
            <span class="frase">@Model.Resume</span>


            
        </div>
        <div class="col-md-5">
            <div class="image" style="background-image: url(/web/uploads/recipe/@Model.Image);">
                @if (Model.VideoUrl != null)
                {
                    <a class="open-video" href="#modal-video" rel="modal:open">
                        <i class="icon icon-play"></i>
                    </a>
                    <div id="modal-video" class="modal-video" style="display:none;">
                        <iframe width="640" height="360" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
                    </div>
                }                
                <figure class="produto-associado">
                    <img src="/content/assets/images/produtos/@(Model.RecommendedProductFriendlyUrlName).png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</header>

<section class="receita-detalhes">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1">
                <h4>Ingredientes</h4>
                <ul>
                    @foreach (var i in Model.Ingredients.OrderByDescending(x => x.IsBunge))
                        {
                            if (i.IsBunge)
                            {
                            <li>@i.Quantity @i.Measure de<strong> @i.Name</strong></li>
                            }
                            else
                            {
                                if (i.Measure == "A gosto")
                                {
                                <li>@i.Name à gosto</li>
                                }
                                else
                                {
                                <li>@i.Quantity @i.Measure de @i.Name</li>
                                }
                            }

                        }
                </ul>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0">
                <h4>Modo de Preparo</h4>
                <p>@Html.Raw(Model.PreparationMode.Replace("\r", "<br />"))</p>
            </div>
        </div>
    </div>
</section>

<section class="receita-imprimir">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h5>Imprima ou compartilhe esta receita</h5>
                <a class="btn btn-verde btn-imprimir" href="@Request.Url.ToString()/print" target="_blank"><i class="icon icon-imprimir"></i> Imprimir</a>
                <a class="btn btn-verde addthis_button"><i class="icon icon-compartilhar"></i> Compartilhar</a>
            </div>
        </div>
    </div>
</section>

<section class="receitas-relacionadas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h5>
                    <b>Receitas</b>
                    RELACIONADAS
                </h5>
            </div>
            @if (Model.RelatedRecipes.Count() > 0)
            {
                <div class="col-sm-12 col-md-6">
                    <div class="receita" style="background-image: url(/web/uploads/recipe/@Model.RelatedRecipes.ElementAt(0).Image);">
                        <a class="receita-inner" href="~/receita/@Model.RelatedRecipes.ElementAt(0).FriendlyUrlName">
                            <h4>@Model.RelatedRecipes.ElementAt(0).Title</h4>
                            <p>@Model.RelatedRecipes.ElementAt(0).Resume</p>
                            <span class="btn btn-laranja">Experimente <span>essa receita</span></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">                    
                    <div class="receitas-small">
                        @for (int i = 1; i < Model.RelatedRecipes.Count(); i++)
                        {
                            <div class="receita small" style="background-image: url(/web/uploads/recipe/@Model.RelatedRecipes.ElementAt(i).Image);">
                                <a class="receita-inner" href="~/receita/@Model.RelatedRecipes.ElementAt(i).FriendlyUrlName">
                                    <h4>@Model.RelatedRecipes.ElementAt(i).Title</h4>
                                    <span class="btn btn-laranja">Experimente</span>
                                </a>
                            </div>
                        }                        
                    </div>
                </div>
            }
            

            

        </div>
    </div>
</section>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5886020503c15961"></script> 