﻿@model Bunge.Salada.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Salada - Óleos Vegetais e Maionese - leveza, sabor e saudabilidade na sua mesa.";
    ViewBag.Description = "Salada: mais de 90 anos de cuidado com sua saúde e bem-estar. Maionese, maionese light, óleo vegetal, óleo de girassol, óleo de milho, óleo de canola. Seara.";
    ViewBag.Keywords = "oleo vegetal, seara salada, seara, azeite";
    ViewBag.BodyClass = "home";

    var maioneses = Model.ProductCategories.Where(x => x.FriendlyUrlName.ToLower() == "maionese").FirstOrDefault().Products.OrderBy(x => x.ProductId);
    var oleos = Model.ProductCategories.Where(x => x.FriendlyUrlName.ToLower() == "oleo").FirstOrDefault().Products;
}

<section id="home-banner">
    <div class="banner">
        <div class="" style="background-image: url();" data-img-mobile="/Content/assets/images/banner/banner-maionese-mob.jpg" data-img-desktop="/Content/assets/images/banner/banner-maionese.jpg">
            <a href="/produtos"></a>
        </div>
    </div>
</section>

<section class="produtos-receitas maionese">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="carousel-receitas carousel-receitas-maionese">
                    @foreach (var m in maioneses)
                    {
                        if (m.Recipe != null)
                        {
                            <div class="item-receita" style="background-image:url(/web/uploads/recipe/@m.Recipe.Image);">
                                <a class="item-receita-inner" href="/receita/@m.Recipe.FriendlyUrlName">
                                    <h3>@m.Recipe.Title</h3>
                                    <p>@m.Recipe.Resume</p>
                                    <span class="btn btn-laranja">Experimente <span>essa receita</span></span>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="carousel-produtos carousel-produtos-maionese">
                    @foreach (var m in maioneses)
                    {
                        <div class="@m.FriendlyUrlName">
                            <figure><img alt="@m.Name" src="~/web/uploads/product/@(m.Image)?v2" /></figure>
                            <h2>@m.Name</h2>
                            <a class="btn" href="/produto/@m.FriendlyUrlName">Conheça o produto</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="facebook-sobre">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="conheca-facebook">
                    <h4>Facebook</h4>
                    <p>Conheça<br /> nossa fanpage</p>
                    <a class="btn btn-borda-branca" href="https://www.facebook.com/SaladaOficial" target="_blank" rel="me">Visite a página</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="sobre">
                    <h4>Sobre</h4>
                    <p>Mais de 90 anos de <br>cuidado com saúde e bem estar</p>
                    <a class="btn btn-borda-branca" href="/sobre">Saiba mais sobre salada</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="produtos-receitas oleo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="carousel-produtos carousel-produtos-oleo">
                    @foreach (var o in oleos)
                    {
                        <div class="@o.FriendlyUrlName">
                            <figure><img alt="" src="~/web/uploads/product/@o.Image" /></figure>
                            <h2>@o.Name</h2>
                            <a class="btn btn-borda-verde" href="~/produto/@o.FriendlyUrlName">Conheça o produto</a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="carousel-receitas carousel-receitas-oleo">
                    @foreach (var o in oleos)
                    {
                        if (o.Recipe != null)
                        {
                            <div class="item-receita" style="background-image:url(/web/uploads/recipe/@o.Recipe.Image);">
                                <a class="item-receita-inner" href="~/receita/@o.Recipe.FriendlyUrlName">
                                    <h3>@o.Recipe.Title</h3>
                                    <p>@o.Recipe.Resume</p>
                                    <span class="btn btn-laranja">Experimente <span>essa receita</span></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="item-receita" style="background-image:url(/Content/source/images/temp/receita-1.jpg);">
                                <a class="item-receita-inner" href="#">
                                    <h3>Produto Sem receita</h3>
                                    <p>Equilíbio e muuuuuuuuuuuuito sabor</p>
                                    <span class="btn btn-laranja">Experimente <span>essa receita</span></span>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="receitas">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span>Receitas para</span> <br />
                    TODOS OS MOMENTOS
                </h2>
            </div>
            <div class="col-md-6">
                <div class="carousel-momentos-receitas">

                    @foreach (var m in Model.RecipeCategories.OrderBy(x => x.RecipeCategoryId))
                    {
                        <div class="receitas-small" data-title="@m.RecipeCategoryId">
                            @foreach (var r in m.Recipes)
                            {

                                <div class="receita-small" data-background="/web/uploads/recipe/@r.Image">
                                    <a class="receita-inner" href="~/receita/@r.FriendlyUrlName">
                                        <h4>@r.Title</h4>
                                        <span class="btn btn-laranja">Experimente</span>
                                    </a>
                                </div>

                            }
                        </div>

                    }

                </div>
            </div>
            <div class="col-md-6">
                <div class="carousel-momentos">

                    @foreach (var m in Model.RecipeCategories.OrderBy(x => x.RecipeCategoryId))
                    {
                        var img = "";
                        var subtitulo = "";
                        if (m.RecipeCategoryId == 5)
                        {
                            img = "depois-treino.jpg";
                            subtitulo = "Receitas para quem pratica atividade física e precisa repor as energias";
                        }
                        else if (m.RecipeCategoryId == 6)
                        {
                            img = "em-boa-companhia.jpg";
                            subtitulo = "Receitas para servir em um jantar romântico";
                        }
                        else if (m.RecipeCategoryId == 8)
                        {
                            img = "domingo-familia.jpg";
                            subtitulo = "Receitas mais elaboradas feitas para quem entende do assunto";
                        }
                        else if (m.RecipeCategoryId == 7)
                        {
                            img = "mantendo-ritmo.jpg";
                            subtitulo = "Receitas para quem está adquirindo um estilo de vida mais saudável e não quer perder o ritmo";
                        }
                        else if (m.RecipeCategoryId == 9)
                        {
                            img = "sabado-amigos.jpg";
                            subtitulo = "Receitas de finger foods, entradinhas e comidas para receber os amigos em casa";
                        }
                        else if (m.RecipeCategoryId == 10)
                        {
                            img = "sair-mesmice.jpg";
                            subtitulo = "Receitas mais elaboradas, que trazem alguma inovação em ingredientes ou de preparo";
                        }
                        else if (m.RecipeCategoryId == 11)
                        {
                            img = "pegando-leve.jpg";
                            subtitulo = "Receitas para quem busca refeições saudáveis no dia a dia";
                        }
                        else if (m.RecipeCategoryId == 12)
                        {
                            img = "sexta-jaca.jpg";
                            subtitulo = "Receitas com maior appetite appeal, feitas para o usuário se permitir uma \"gordice\"";
                        }

                        else if (m.RecipeCategoryId == 13)
                        {
                            img = "segunda-detox.jpg";
                            subtitulo = "Receitas leves para começar a semana no clima da dieta";
                        }

                        <div class="momento" data-background="/Content/assets/images/momentos/@img" data-title="@m.RecipeCategoryId">
                            <a class="momento-inner" href="~/receitas?momento=@m.RecipeCategoryId">
                                <h3>@m.Description</h3>
                                <p>@subtitulo</p>
                                <span class="btn btn-salmao">Explore <span>a seleção de receitas</span></span>
                            </a>
                            <input type="hidden" value="@m.RecipeCategoryId" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>