﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content='@(!string.IsNullOrEmpty(ViewBag.OgImage) ? "http://www.salada.com.br/web/uploads/recipe/" + ViewBag.OgImage : "")' />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />

    <!--[if IE]><link rel="shortcut icon" href="~/content/assets/images/favicon.ico" /><![endif]-->
    <link rel="shortcut icon" sizes="32x32" href="~/content/assets/images/favicon.png" />

    <link rel="shortcut icon" href="~/content/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/content/assets/styles/style.min.css?v4" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-22101338-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Início do aviso de consentimento de cookies OneTrustsalada.com.br -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="1c61b3b2-c2dc-40b9-9752-e433838fe16f"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- Final do aviso de consentimento de cookies OneTrustsalada.com.br -->
</head>
<body class="@ViewBag.BodyClass">
    
    <header id="header">
        <div class="container">
            <a class="open-menu" id="open-menu">
                <i class="icon-menu"></i>
            </a>
            <a class="open-busca" id="open-busca">
                <i class="icon-search"></i>
            </a>
            <a href="/" class="logo">
                <img alt="Salada" src="~/content/assets/images/logo-salada.png" />
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/receitas" class="menu-receitas">Receitas</a></li>
                    <li><a href="/produtos" class="menu-produtos">Produtos</a></li>
                    <li><a href="/sobre" class="menu-sobre">Sobre</a></li>
                    <li><a href="/" class="menu-home">Home</a></li>
                    <li><a href="/fale-conosco" class="menu-contato">Contato</a></li>
                </ul>
            </nav>
            <div id="form-search">
                <form class="form" action="/receitas" method="get" >
                    <div class="form-group">
                        <input id="s" class="" name="busca" type="text" placeholder="Buscar receitas">
                    </div>
                    <button class="btn-search" type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">

                    <div class="bunge">
                        <a href="https://www.seara.com.br" rel="me" target="_blank" class="bunge-link">Seara</a>
                        <p><b>Copyright &copy; Seara @DateTime.Now.Year </b></p>
                        <p>Todos os direitos reservados</p>
                        <p>
                        <a href="https://www.seara.com.br/media/download/Politica-de-Privacidade-Site-Seara.pdf" target="_blank" rel="nofollow" title="Política de privacidade | Bunge">Política de privacidade</a>
                        </p>
                    </div>
                    <div class="pack-produtos"></div>
                    <div class="casa-consumidor">
                        <p><b>Seg/Sex. 8 às 20h - Hórario de Brasília</b></p>
                    </div>
                    <div class="rs">
                        <a href="https://www.facebook.com/SaladaOficial" class="facebook" target="_blank" rel="me"><i class="icon-facebook"></i></a>
                        <a href="https://www.instagram.com/saladaoficial/" class="instagram" target="_blank" rel="me"><i class="icon-instagram"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>

    <div id="outdated"></div>

    <!--[if gte IE 9]><!-->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <![endif]-->
    <script>window.jQuery || document.write('<script src="~/content/assets/scripts/vendor/jquery-2.1.1.min.js"><\/script>')</script>

    <script src="~/content/assets/scripts/plugins.min.js"></script>
    <script src="~/content/assets/scripts/main.min.js"></script>
    <!-- Taboola Pixel Code -->
    <script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1218100});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1218100/tfa.js',
  'tb_tfa_script');
    </script>
    <noscript>
        <img src='//trc.taboola.com/1218100/log/3/unip?en=page_view'
             width='0' height='0' style='display:none' />
    </noscript>
    <!-- End of Taboola Pixel Code -->

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '134931441874187');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=134931441874187&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    @RenderSection("footer", required: false)
</body>
</html>
